<section class="section">

  <div class="section__card">
    <img
      class="section__img section__img--dog"
      src="../../../../../assets/perro.png" alt="">
    <p>Dog Walking</p>
  </div>

  <div class="section__card">
    <img
      class="section__img"
      src="../../../../../assets/gato.png" alt="">
    <p>Pet Sitting</p>
  </div>

  <div class="section__card">
    <img
      class="section__img"
      src="../../../../../assets/casa-de-perro.png" alt="">
    <p>Overnight Care</p>
  </div>

  <div class="section__card">
    <img
      class="section__img"
      src="../../../../../assets/huella.png" alt="">
    <p>Other Services</p>
  </div>

</section>
