
<main class="main">

  <section class="main__first-section">

    <div class="main__first-section__div">
      <img
        class="main__first-section__div__img"
        src="../../../assets/orange-home.svg"
        alt="orange-wave">
    </div>

    <div class="main__first-section__div">
      <img
        class="main__first-section__div__img"
        src="../../../assets/orange2-home.svg"
        alt="orange-wave">
    </div>

    <app-navbar></app-navbar>

    <router-outlet/>


  </section>

</main>
