<div class="container">

  <div class="container__image-wrapper">
    <img
      class="container__image"
      src="../../../../../assets/smiling-dog.png" alt="dog image">
  </div>

  <div class="container__text-wrapper">

    <h2 class="container__title">Make Fetch! Happen</h2>

    <p class="container__text">
      If you love pets and want exciting work, apply to be a Fetch! <br>
      Pet Care Provider! We train every team member and provide <br>
      ongoing support to help you get the most from your
    </p>

    <a
      class="container__link"
      [routerLink]=""
      >Join Now
    </a>

  </div>

</div>
