<nav >

  <ul class="navbar">

    <li class="navbar__div navbar__div--icon">
      <div class="navbar__div navbar__div--icon-container">

        <a
          routerLink="/home">
            <img src="../../../../../assets/dogAndCat.png" alt="logo">
        </a>

      </div>
    </li>

    <li class="navbar__div">
      <a
        routerLinkActive="navbar__div--selected"
        routerLink="/home/location"
        >Location</a>
    </li>

    <li class="navbar__div">
      <a
        routerLinkActive="navbar__div--selected"
        routerLink="/home/blog">Blog</a>
    </li>

    <li class="navbar__div">
      <a
        routerLinkActive="navbar__div--selected"
        routerLink="/home/services">Services</a>
    </li>

    <li class="navbar__div">
      <a
        routerLinkActive="navbar__div--selected"
        routerLink="/home/about">About</a>
    </li>

    <li class="navbar__div">
      <a
        routerLinkActive="navbar__div--selected"
        routerLink="/home/franchise">Franchise with Us</a>
    </li>

  </ul>

</nav>
