@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --blue-button: #5485f7;
  --orange-wave: #ed705a;
  --yellow-circle: #fae457;
  --gray-lite-text: #b4b3b3;
  --lite-gray-background: #f2f5fa;
}

/* Reset margins, paddings, and borders */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Remove default styles on common HTML elements */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Set default line-height and font */
body {
  line-height: 1;
  /* font-family: sans-serif; */
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Reset quotes */
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* Reset table borders and spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset image max-width */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Reset input, button, and textarea styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
}

/* Reset anchor tags */
a {
  color: inherit;
  text-decoration: none;
}
