.texto{
  color: black;
  font-size: 24px;
  transform: translateY(-70%);
  max-width: 40ch;
  font-weight: 500;
  line-height: 27px;
  background-color: var(--lite-gray-background);
  padding: 1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
}
