<section class="section">

  <h2 class="section__title">Here's what pet owners have to <br>say about fetch! Pet Care...</h2>

  <div class="section__container">

    <div class="section__slider section__slider--orange">

      <img
        class="section__img"
        src="../../../../../assets/woman.png" alt="profile picture">

      <h3 class="section__subtitle">Kenned Dsouza</h3>

      <p class="section__text">
        "I like that I got to meet the dog walker who is walking my dog
        daily and consult with her. I also appreciate the daily communication
        I get about the dog and how my dog is doing"
      </p>

    </div>

    <div class="section__slider section__slider--blue">

      <img
        class="section__img"
        src="../../../../../assets/woman.png" alt="profile picture">

      <h3 class="section__subtitle">Kenned Dsouza</h3>

      <p class="section__text">
        "I like that I got to meet the dog walker who is walking my dog
        daily and consult with her. I also appreciate the daily communication
        I get about the dog and how my dog is doing"
      </p>

    </div>

    <div class="section__slider section__slider--orange">

      <img
        class="section__img"
        src="../../../../../assets/woman.png" alt="profile picture">

      <h3 class="section__subtitle">Kenned Dsouza</h3>

      <p class="section__text">
        "I like that I got to meet the dog walker who is walking my dog
        daily and consult with her. I also appreciate the daily communication
        I get about the dog and how my dog is doing"
      </p>

    </div>

  </div>

</section>
