
<section class="section">

  <h2 class="section__title">Our Services</h2>

  <p class="section__text">National Brand With a Local Feel. <br>Experience the Fetch! Difference</p>

  <p class="section__text--orange">Enter Your Location and Fetch Our Services</p>

  <div class="section__input-container">

    <input class="section__input" type="number">

    <button class="section__button">
      <img
        class="section__img"
        src="../../../../../assets/right-arrow.png" alt="arrow">
    </button>

  </div>

</section>
